// Mixins Here

.flexbox() {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.flexbox2() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}